##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
a = ''

2. > Create a variable containing your name (Points : 5)

In [ ]:
x = 'Aema Wardana'

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
lits_barang = ['Kursi','Meja'.'Pulpen','buku']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
siswa = {
    "Nama": "Aema Wardana",
    "Kelas": "Accelerated Machine Learning Program"
}
siswa

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
price = 12000
quantity_sold = 20
discount = 10/100

total = price * quantity_sold 
calculate_disc = total * discount
pay = total - calculate_disc
print("Total yang harus dibayar sebesar Rp.", pay)

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

list_negara = ['Indonesia','UK','China','Rusia','Korea Selatan','Singapura','India']
print(list_negara)

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

list_negara[0:4]

In [ ]:
# Append new country to the list (Points : 5)

list_negara.append('Jepang')
print(list_negara)

In [ ]:
# Drop one country from the list (Points : 5)

list_negara.pop()
print(list_negara)

In [ ]:
# Get country in the last index (Points : 5)

list_negara[-1]

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [ ]:
# Print all keys in customer (Points : 5)

customer.keys()

In [ ]:
# Print all customer names (Points : 5)

customer["name"]

In [ ]:
# Print the first customer name (Points : 5)

customer["name"][0]

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

customer.pop("age")
customer

In [1]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


customer['gender'] = ['Male','Female','Female','Male']
customer